# Image related files
*.pdf
*.png
# I will ignore the image files, but I will version control
# the scripts required to generate the files
*-checkpoint.*
# LaTeX related files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# I want to ignore calculations files
Calculations/*

# Specific folders to ignore
Images/SciencePlots-master/*
/Images/introduction/figures_playing.ipynb
/Chapters/library_qds_lit_review.lnk
/Chapters/QDS + QSS story - (from mpl).xlsx
