# Image related files
*.pdf
*.png
# I will ignore the image files, but I will version control
# the scripts required to generate the files
*-checkpoint.*
# LaTeX related files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# I want to ignore calculations files
Calculations/*
*.dat
*.qu
*.mx

# Specific folders to ignore
Images/SciencePlots-master/*
/Images/introduction/figures_playing.ipynb
/Chapters/library_qds_lit_review.lnk
/Chapters/QDS + QSS story - (from mpl).xlsx
/hycolor.sty


# Bibliography stuff
*.bcf
*.xml
*.gz
/sandbox-blx.bib


# Joblib stuff
*/cache/*
Images/introduction/__pycache__/*
Images/introduction/cache/*
/bib-refs.bib
/cleanthesis.sty
/main2.tex
/my-thesis.tex
/my-thesis-setup.tex
/sandbox2.tex
/styles/cleanthesis/bib-refs.bib
/styles/cleanthesis/CHANGELOG.md
/styles/cleanthesis/cleanthesis.sty
/styles/cleanthesis/content/abstract.tex
/styles/cleanthesis/content/acknowledgement.tex
/styles/cleanthesis/content/chapter-appendix.tex
/styles/cleanthesis/content/chapter-concepts.tex
/styles/cleanthesis/content/chapter-conclusion.tex
/styles/cleanthesis/content/chapter-introduction.tex
/styles/cleanthesis/content/chapter-related-work.tex
/styles/cleanthesis/content/chapter-system.tex
/styles/cleanthesis/content/colophon.tex
/styles/cleanthesis/content/declaration.tex
/styles/cleanthesis/content/titlepages.tex
/styles/cleanthesis/doc/cleanthesis-doc.tex
/styles/cleanthesis/hycolor.sty
/styles/cleanthesis/MANIFEST.md
/styles/cleanthesis/my-thesis.tex
/styles/cleanthesis/my-thesis-setup.tex
/styles/cleanthesis/README.md
/styles/cleanthesis/VERSION
/styles/cleanthesis-incl-example_v0.4.0.zip

submission/Images/*
submission/styles/*
submission/FrontBackmatter/*
/main-blx.bib
/main.synctex(busy)
/submission/main-blx.bib
/submission/mythesis.out.ps
/submission/mythesis.synctex(busy)
/submission/mythesis-blx.bib
